# Virtual env
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*/migrations/__pycache__/

# Database
db.sqlite3
*.sqlite3

# Environment
.env

# Static files
staticfiles/

# IDE
.vscode/
.idea/

# Logs
*.log
